# Файл с настройками, который содержит OAuth-токен и состояние синхронизации.
# КРИТИЧЕСКИ ВАЖНО НЕ ЗАГРУЖАТЬ ЕГО НА GITHUB!
data.json

# Локальные папки Obsidian
.obsidian/

# Лог-файлы плагина
yd-sync.log

# Зависимости Node.js (если будете их использовать в будущем)
node_modules/

# Системные файлы macOS и Windows
.DS_Store
Thumbs.db